.DS_Store
.dart_tool/
.flutter-plugins-dependencies
**/android/local.properties
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/macos/Pods/
**/macos/.symlinks/
**/macos/Flutter/Flutter.framework
**/macos/Flutter/Flutter.podspec
build/
.idea/
.env
modificaciones.md
